@using AuthPermissions.PermissionsCode
@using Example4.MvcWebApp.IndividualAccounts.PermissionsCode
@model IEnumerable<Example4.MvcWebApp.IndividualAccounts.Models.AuthUserDisplay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.UserHasThisPermission(Example4Permissions.UserAdd))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NumRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NumRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTenant)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
