@using AuthPermissions.PermissionsCode
@using Example4.MvcWebApp.IndividualAccounts.PermissionsCode
@using Microsoft.AspNetCore.Routing.Template
@model IEnumerable<Example4.MvcWebApp.IndividualAccounts.Models.AuthUserDisplay>

@{
    ViewData["Title"] = "Auth Users";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
<h3 class="text-success">@ViewBag.Message</h3>
}

<h1>Auth Users</h1>


<p>
    <a asp-action="SyncUsers">Sync with authentication provider's users</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTenant)
            </th>
            <th>Change / Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTenant)
            </td>
            <td>
                @Html.ActionLink("Edit User", "Edit", new { userId= item.UserId }) |
                @Html.ActionLink("Delete User", "Delete", new { UserId = item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
