@using Example6.MvcWebApp.Sharding.Models
@model Example6.MvcWebApp.Sharding.Models.AppSummary
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Example6 - single level multi-tenant with Sharding

    </h1>
</div>
<h4>Application summary</h4>
<ul>
    <li><strong>@nameof(AppSummary.Application)</strong>:&nbsp;@Model.Application</li>
    <li><strong>@nameof(AppSummary.AuthorizationProvider)</strong>:&nbsp;@Model.AuthorizationProvider</li>
    <li><strong>@nameof(AppSummary.CookieOrToken)</strong>:&nbsp;@Model.CookieOrToken</li>
    <li><strong>@nameof(AppSummary.MultiTenant)</strong>:&nbsp;@Model.MultiTenant</li>
    <li>
        <strong>@nameof(AppSummary.Databases)</strong>:&nbsp;
        <ul>
            @foreach (var database in Model.Databases)
            {
                <li>@database</li>
            }
        </ul>
    </li>
    @if (@Model.Note != null)
    {
        <li><strong>@nameof(AppSummary.Note)</strong>:&nbsp;@Model.Note</li>
    }
</ul>

<h2>How to use use this application</h2>
<p>
    You can log in using one of the demo users <a asp-area="" asp-controller="AuthUsers" asp-action="Index">found here</a>.
    <br/>
    <i>NOTE: The email is also the password.</i>
    <ol>

        <li>Pick a user that with a company name to see the invoice version.</li>
        <li>Pick the 'Super@@g1.com' or 'AppAdmin@g1.com' to access the AuthP features.</li>
    </ol>
</p>
<p>
    When you are logged in as a tenant user you can:
    <ol>
        <li>
            The home page will contain company (tenant) name and you can see / create invoices.
        </li>
        <li>When log in you can see your claims, permissions and other user/role info via the "User Admin" menu button.</li>
        <li>
            Go to the <a asp-area="" asp-controller="AuthUsers" asp-action="Index">User Admin -> List all users</a> to see the users.
            This would normally be only available to admin users, but for this demo anyone can see it.
            <i>NOTE: if you log in as an 'admin' user, or Super@g1.com to have full admin rights.</i>
        </li>
    </ol>
</p>
<p>
    If you log in as an <i>App admin</i> you full admin rights of every part of the AuthP features.
</p>

