@using ExamplesCommonCode.CommonAdmin
@using LocalizeMessagesAndErrors
@inject ISimpleLocalizer SimpleLocalizer
@model RoleCreateUpdateDto

@{
    var selectedLocalized = SimpleLocalizer.LocalizeString("Selected", this);
    var selectLocalized = SimpleLocalizer.LocalizeString("Select", this);
}

<table class="table">
    <thead>
    <tr>
        <th>
            @SimpleLocalizer.LocalizeString("Group", this)
        </th>
        <th>
            @SimpleLocalizer.LocalizeString("Description", this)
        </th>
        <th>
            @SimpleLocalizer.LocalizeString("Permission", this)
        </th>
        <th>
            @SimpleLocalizer.LocalizeString("Selected?", this)
        </th>
    </tr>
    </thead>
    <tbody id="permission-selection">
    @for (int i = 0; i < Model.PermissionsWithSelect.Count; i++)
    {
        <tr>
            <td>
                @Model.PermissionsWithSelect[i].GroupName
            </td>
            <td>
                @Model.PermissionsWithSelect[i].Description
            </td>
            <td>
                @Model.PermissionsWithSelect[i].PermissionName
                @Html.Hidden($"{nameof(RoleCreateUpdateDto.PermissionsWithSelect)}[{i}].{nameof(PermissionInfoWithSelectDto.PermissionName)}",
                    Model.PermissionsWithSelect[i].PermissionName)
            </td>
            <td>
                @Html.Hidden($"{nameof(RoleCreateUpdateDto.PermissionsWithSelect)}[{i}].{nameof(PermissionInfoWithSelectDto.Selected)}",
                    @Model.PermissionsWithSelect[i].Selected,
                    new { id = Model.PermissionsWithSelect[i].PermissionName})
                <button type="button" class='btn-sm  @(Model.PermissionsWithSelect[i].Selected ? "btn-primary" : "btn-secondary")'
                        onclick="TogglePermissionSelect(this, '@Model.PermissionsWithSelect[i].PermissionName',
                        '@selectLocalized', '@selectedLocalized')">
                    @(Model.PermissionsWithSelect[i].Selected 
                        ? selectedLocalized
                        : selectLocalized)
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>


